practica4/Flow2_MQTT.json
[{"id":"704175b9.e065ac","type":"mqtt in","z":"fa02363.a0a3048","name":"","topic":"uca/sd/2021/contador/qwertyuiop","qos":"2","datatype":"auto","broker":"72b232cd.28398c","x":310,"y":480,"wires":[["46e48e7f.b8c84","e67d1da2.84811"]]},{"id":"4f867917.216178","type":"mqtt out","z":"fa02363.a0a3048","name":"","topic":"uca/sd/2021/contador/qwertyuiop","qos":"0","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"72b232cd.28398c","x":760,"y":260,"wires":[]},{"id":"986b7f6a.b5ece","type":"debug","z":"fa02363.a0a3048","name":"receptor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":480,"wires":[]},{"id":"a62e219a.40ac9","type":"function","z":"fa02363.a0a3048","name":"Funcion cont","func":"var contador = context.get('contador') || 0;\n\ncontador++;\n\ncontext.set('contador', contador);\nmsg.payload = contador;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"}],"x":470,"y":260,"wires":[["4f867917.216178"]]},{"id":"455a5b4.c959ca4","type":"inject","z":"fa02363.a0a3048","name":"emisor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":240,"y":260,"wires":[["a62e219a.40ac9"]]},{"id":"46e48e7f.b8c84","type":"file","z":"fa02363.a0a3048","name":"contadorReceptor","filename":"contadorReceptor.txt","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":630,"y":540,"wires":[[]]},{"id":"e67d1da2.84811","type":"template","z":"fa02363.a0a3048","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El contador tiene el valor {{payload}} ","output":"str","x":580,"y":480,"wires":[["986b7f6a.b5ece"]]},{"id":"78e6ab13.eb2d44","type":"comment","z":"fa02363.a0a3048","name":"","info":"El fichero contadorReceptor.txt se va a crear en el directorio de trabajo.","x":600,"y":580,"wires":[]},{"id":"72b232cd.28398c","type":"mqtt-broker","name":"test.mosquitto.org","broker":"test.mosquitto.org/merakimv/Q2GV-Y4R8-5Z3L/light","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]