practica4/flows.json
[{"id":"704175b9.e065ac","type":"mqtt in","z":"54de54c4.d62a24","name":"","topic":"uca/sd/2021/contador/qwertyuiop","qos":"2","datatype":"auto","broker":"72b232cd.28398c","x":270,"y":320,"wires":[["46e48e7f.b8c84","e67d1da2.84811"]]},{"id":"4f867917.216178","type":"mqtt out","z":"54de54c4.d62a24","name":"","topic":"uca/sd/2021/contador/qwertyuiop","qos":"0","retain":"","broker":"72b232cd.28398c","x":680,"y":100,"wires":[]},{"id":"986b7f6a.b5ece","type":"debug","z":"54de54c4.d62a24","name":"receptor","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":320,"wires":[]},{"id":"a62e219a.40ac9","type":"function","z":"54de54c4.d62a24","name":"Funcion cont","func":"var contador = context.get('contador') || 0\n\ncontador++\n\nmsg.payload = contador\n\ncontext.set('contador', contador)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":100,"wires":[[]]},{"id":"455a5b4.c959ca4","type":"inject","z":"54de54c4.d62a24","name":"emisor","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":100,"wires":[["a62e219a.40ac9"]]},{"id":"46e48e7f.b8c84","type":"file","z":"54de54c4.d62a24","name":"contador.txt","filename":"contador.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":570,"y":380,"wires":[[]]},{"id":"e67d1da2.84811","type":"template","z":"54de54c4.d62a24","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"El contador tiene el valor {{payload}} ","output":"str","x":540,"y":320,"wires":[["986b7f6a.b5ece"]]},{"id":"72b232cd.28398c","type":"mqtt-broker","name":"test.mosquitto.org","broker":"test.mosquitto.org/merakimv/Q2GV-Y4R8-5Z3L/light","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]