practica4/Flow3_QR.json
[{"id":"7bef902a.f5d788","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d7b28d81.e9129","type":"imageSimple","z":"7bef902a.f5d788","imageData":"payload","imageType":"msg","autoresize":false,"original":false,"localfile":false,"flipX":false,"flipY":false,"width":200,"height":200,"rotate":0,"crop":false,"cropX":0,"cropY":0,"cropWidth":200,"cropHeight":200,"x":810,"y":260,"wires":[[]]},{"id":"7fb3cf00.e386a8","type":"qrcode-generator","z":"7bef902a.f5d788","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":false,"x":590,"y":160,"wires":[["d7b28d81.e9129","2a3d5d00.42fc94"]]},{"id":"147bf3be.cb3d9c","type":"http in","z":"7bef902a.f5d788","name":"QR","url":"/QR","method":"get","upload":false,"swaggerDoc":"","x":150,"y":160,"wires":[["777515f9.c94ae4"]]},{"id":"777515f9.c94ae4","type":"change","z":"7bef902a.f5d788","name":"","rules":[{"t":"set","p":"qrcodeinput","pt":"msg","to":"req.body.qrcodeinput","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[["7fb3cf00.e386a8"]]},{"id":"e1797e1c.660178","type":"http response","z":"7bef902a.f5d788","name":"","statusCode":"","headers":{},"x":950,"y":160,"wires":[]},{"id":"2a3d5d00.42fc94","type":"function","z":"7bef902a.f5d788","name":"","func":"\nmsg.payload = \"QR generado en el directorio de trabajo de Node-RED :D.\\n\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":160,"wires":[["e1797e1c.660178"]]}]