practica4/Procesador_de_cadenas.json
[{"id":"eb2847a8.33d4d","type":"tab","label":"Procesador de Cadenas","disabled":false,"info":""},{"id":"429d96e8.33634","type":"http in","z":"eb2847a8.33d4d","name":"","url":"/reverse","method":"get","upload":false,"swaggerDoc":"","x":110,"y":40,"wires":[["e2d3a220.a3f848"]]},{"id":"e2d3a220.a3f848","type":"function","z":"eb2847a8.33d4d","name":"Girar","func":"var Nombre = msg.req.body.cadena;\nvar cont = 1;\nvar Resultado = \"\";\n\nwhile (cont <= Nombre.length){\n    Resultado = Resultado + Nombre[Nombre.length - cont]\n    cont++;\n}\n\nmsg.payload = {\"cadena\" : Resultado};\nmsg.header = {};\nmsg.header['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":40,"wires":[["365ea57a.03f1ca","f31c48f9.f497c"]]},{"id":"ade9e97e.0cbe28","type":"http in","z":"eb2847a8.33d4d","name":"","url":"/change_case","method":"get","upload":false,"swaggerDoc":"","x":90,"y":100,"wires":[["4abaacae.200a14"]]},{"id":"365ea57a.03f1ca","type":"http response","z":"eb2847a8.33d4d","name":"output","statusCode":"","headers":{},"x":590,"y":160,"wires":[]},{"id":"4abaacae.200a14","type":"function","z":"eb2847a8.33d4d","name":"Mayus/Minus","func":"var Cad = msg.req.body.cadena;\nvar Modo = msg.req.body.modo;\nvar Resultado = \"\";\n\nif (Modo == 'mayus'){\n    Resultado = Cad.toUpperCase();\n}else{\n    Resultado = Cad.toLowerCase();\n}\n\nmsg.payload = {\"cadena\" : Resultado};\nmsg.header = {};\nmsg.header['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":100,"wires":[["365ea57a.03f1ca","f31c48f9.f497c"]]},{"id":"d8d7f58e.fbc7b","type":"http in","z":"eb2847a8.33d4d","name":"","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":110,"y":160,"wires":[["96494d4c.f7e108"]]},{"id":"96494d4c.f7e108","type":"function","z":"eb2847a8.33d4d","name":"Random","func":"var Num = Math.floor(Math.random() * (61 - 0 + 1)) + 0;\nvar Long = msg.req.body.longitud;\nvar cont = 0;\nvar Cadena = \"\";\nvar cars = \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789\"\n\nwhile (cont < Long){\n    Cadena += cars[Num];\n    Num = Math.floor(Math.random() * (61 - 0 + 1)) + 0;\n    cont++;\n}\n\nmsg.payload = {\"cadena\" : Cadena};\nmsg.header = {};\nmsg.header['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":160,"wires":[["365ea57a.03f1ca","f31c48f9.f497c"]]},{"id":"51ce069c.48122","type":"file","z":"eb2847a8.33d4d","name":"Log_PdC","filename":"Log_PdC","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":760,"y":240,"wires":[[]]},{"id":"f31c48f9.f497c","type":"function","z":"eb2847a8.33d4d","name":"Normalizar","func":"\n\nswitch(msg.req.url){\n    case \"/reverse\":\n        msg.payload = {\"Operacion\": msg.req.url, \"cadena\" : msg.req.body.cadena,\"Resultado\": msg.payload.cadena};\n    \n    break;\n    \n    case \"/change_case\":\n        msg.payload = {\"Operacion\": msg.req.url, \"cadena\" : msg.req.body.cadena, \"modo\" : msg.req.body.modo, \"Resultado\" : msg.payload.cadena};\n    break;\n    \n    case \"/random\":\n        msg.payload = {\"Operacion\": msg.req.url, \"longitud\" : msg.req.body.longitud, \"Resultado\" : msg.payload.cadena};\n    break;\n    \n    case \"/cesar\":\n        msg.payload = {\"Operacion\": msg.req.url, \"cadena\" : msg.req.body.cadena, \"Resultado\" : msg.payload.cadena};\n    break;\n    \n    case \"/diff\":\n        msg.payload = {\"Operacion\": msg.req.url, \"cadenaA\" : msg.req.body.cadenaA, \"cadenaB\" : msg.req.body.cadenaB, \"Resultado\" : msg.payload.cadena};\n    break;\n    \n    case \"/dni\":\n        msg.payload = {\"Operacion\": msg.req.url, \"cadena\" : msg.req.body.cadena, \"Resultado\" : msg.payload.resultado};\n    break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":240,"wires":[["51ce069c.48122"]]},{"id":"5b41aefc.18e498","type":"http in","z":"eb2847a8.33d4d","name":"","url":"/dni","method":"get","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["bb3fa6b1.97c06"]]},{"id":"1d288807.9241d8","type":"http in","z":"eb2847a8.33d4d","name":"","url":"/diff","method":"get","upload":false,"swaggerDoc":"","x":120,"y":280,"wires":[["a1171f26.d1e0d"]]},{"id":"bb3fa6b1.97c06","type":"function","z":"eb2847a8.33d4d","name":"DNI","func":"var Resultado = \"NO es un DNI valido.\";\nmsg.payload = {\"resultado\" : Resultado};\n\nif (msg.req.body.cadena.length != 9){\n    return msg;\n}\n\nif (isNaN(msg.req.body.cadena.substring(0, 8))){\n    return msg;\n}\nvar Numero = Number(msg.req.body.cadena.substring(0, 8));\nvar Letras = \"TRWAGMYFPDXBNJZSQVHLCKE\";\n\nif (msg.req.body.cadena[8] != Letras[(Numero % 23)]){\n    return msg;\n}\n\nResultado = \"SI es un DNI valido.\";\nmsg.payload = {\"resultado\" : Resultado};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":220,"wires":[["365ea57a.03f1ca","f31c48f9.f497c"]]},{"id":"a1171f26.d1e0d","type":"function","z":"eb2847a8.33d4d","name":"Diferencia","func":"var CadenaA = msg.req.body.cadenaA;\nvar CadenaB = msg.req.body.cadenaB;\nvar CadenaC = \"\";\nvar TamA = CadenaA.length;\nvar TamB = CadenaB.length;\n\nif (CadenaA == CadenaB){\t//Si son iguales, el resultado es la cadena vacía.\n\tmsg.payload = {\"cadena\" : CadenaC};\n\treturn msg;\t\n}\n\nif (TamA <= TamB){\t//Imposible que esté todo B en A si es mas grande que A (o de mismo tamaño y no igual).\n\tmsg.payload = {\"cadena\" : CadenaA};\n\treturn msg;\n}\n\nvar i = 0;\nvar n = 0;\n\nwhile (i < TamA){\n\n\tif (CadenaA[i] == CadenaB[0]){\t//Comparo solo el 1er caracter para no empeorar la eficiencia.\n\t\tif (i+TamB <= TamA){  //No nos debemos pasar del indice maximo, daría error.\n            \n\t\t\tif(CadenaA.substring(i, i+TamB) == CadenaB){\n\t\t\t\ti+= TamB;\n\t\t\t\t\n\t\t\t}\n\t\t}\n\t}\n\tif (i < TamA){\t//Por si acaso hizo una resta que dejase el índice al final.\n\t\tCadenaC += CadenaA[i];\n\t}\n\ti++;\n}\n\nmsg.payload = {\"cadena\" : CadenaC};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":280,"wires":[["365ea57a.03f1ca","f31c48f9.f497c"]]},{"id":"6113a417.5efe4c","type":"http in","z":"eb2847a8.33d4d","name":"","url":"/cesar","method":"get","upload":false,"swaggerDoc":"","x":120,"y":340,"wires":[["42ad2b9e.ef8934"]]},{"id":"42ad2b9e.ef8934","type":"function","z":"eb2847a8.33d4d","name":"Cifrado","func":"var cont = 0;\nvar contAux = 0;\nvar Cadena = msg.req.body.cadena;\nvar Resultado = \"\";\nvar cars = \"abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZabc\";\n\n\nwhile (cont < Cadena.length){\n    while (cars[contAux] != Cadena[cont] && contAux < 53){\n        contAux++;\n    }\n    if (contAux == 53){\n        Resultado += '?';\n    }else if(cars[contAux+3] == 'C' || cars[contAux+3] == 'B' || cars[contAux+3] == 'A'){\n        Resultado +=  cars[contAux + 3].toLowerCase();\n    }else if(cars[contAux+3] == 'c' || cars[contAux+3] == 'b' || cars[contAux+3] == 'a'){\n        Resultado +=  cars[contAux + 3].toUpperCase();\n    }else{\n        Resultado += (cars[contAux + 3]);\n    }\n    cont++;\n    contAux = 0;\n}\n\nmsg.payload = {\"cadena\" : Resultado};\nmsg.header = {};\nmsg.header['content-type'] = 'application/json';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":340,"wires":[["365ea57a.03f1ca","f31c48f9.f497c"]]},{"id":"eb417f9f.b64b3","type":"function","z":"eb2847a8.33d4d","name":"Mensaje al usuario","func":"\nmsg.payload = \"Se produjo un error. No se puede llevar a cabo la operación.\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":420,"wires":[["eb70d7.64c13728","bf4e2ceb.f2d6f"]]},{"id":"eb70d7.64c13728","type":"http response","z":"eb2847a8.33d4d","name":"Notificar","statusCode":"","headers":{},"x":740,"y":360,"wires":[]},{"id":"bf4e2ceb.f2d6f","type":"debug","z":"eb2847a8.33d4d","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":480,"wires":[]},{"id":"2d1bb25d.5b9ce6","type":"catch","z":"eb2847a8.33d4d","name":"Tratamiento de Errores","scope":null,"uncaught":false,"x":340,"y":420,"wires":[["eb417f9f.b64b3"]]},{"id":"16ea5293.d2e005","type":"comment","z":"eb2847a8.33d4d","name":"Debug?","info":"Hemos incluido este nodo simplemente para poder\nver en el editor también la notificación del error, aunque también se muestre como respuesta al usuario.","x":730,"y":520,"wires":[]},{"id":"34407786.97ab38","type":"comment","z":"eb2847a8.33d4d","name":"Normalizar?","info":"Usamos este nodo para igualar el formato de salida al log que guardará el usuario, de forma que quede uniforme sin importar la operación utilizada. \nDado que los nodos función de los endpoint solo devuelven el resultado, la respuesta al cliente no requiere de dicha normalización, ya que solo le interesa esa información.","x":610,"y":280,"wires":[]}]